In [67]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import sqlite3

In [68]:
import numpy as np
import pandas as pd

In [69]:
import datetime as dt

In [70]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [71]:
engine = create_engine("sqlite:///Unemployment.db")
conn = engine.connect()

In [72]:
# reflect an existing database into a new model
Base= automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [73]:
inspector = inspect(engine)
inspector.get_table_names()

['Unemployment', 'Unemployment_New']

In [74]:
columns = inspector.get_columns('Unemployment_new')
for c in columns:
    print(c['name'], c["type"])

State TEXT
Filedweekended TEXT
InitialClaims TEXT
ReflectingWeekEnded TEXT
ContinuedClaims TEXT
CoveredEmployment TEXT
InsuredUnemploymentRate REAL

In [75]:
#Looking at the tables
data = pd.read_sql("SELECT * FROM unemployment_new", conn)
data.head()

,State,Filedweekended,InitialClaims,ReflectingWeekEnded,ContinuedClaims,CoveredEmployment,InsuredUnemploymentRate
0,Alabama,2020-01-04,"4,578",12/28/2019,"18,523","1,923,741",0.96
1,Alabama,2020-01-11,"3,629",1/4/2020,"21,143","1,923,741",1.10
2,Alabama,2020-01-18,"2,483",1/11/2020,"17,402","1,923,741",0.90
3,Alabama,2020-01-25,"2,129",1/18/2020,"18,390","1,923,741",0.96
4,Alabama,2020-02-01,"2,170",1/25/2020,"17,284","1,923,741",0.90

In [76]:
#Looking at the tables
data = pd.read_sql("SELECT strftime('%m-%d-%Y', Filedweekended) FROM unemployment_new", conn)
data.head()

  strftime('%m-%d-%Y', Filedweekended)
0                           01-04-2020
1                           01-11-2020
2                           01-18-2020
3                           01-25-2020
4                           02-01-2020

In [81]:
results = conn.execute("SELECT State, date(Filedweekended), ContinuedClaims FROM unemployment_new")

In [83]:
claims_data = []

for result in results:
    claims_dict = {"Filedweekended": result[0], "ContinuedClaims": result[1]}
    caims_data.append(claims_dict)
    print(result)

return jsonify(claims_data)

SyntaxError: 'return' outside function (<ipython-input-83-8cca78d8d9c0>, line 8)

In [41]:
class Unemployment():
    
    def __init__(self, State, Filed_Week, Initial_Claims, Reflecting_Week_End, Continued_Claims, Covered_Employment, Insured_Unemployment_Rate):
        self.State = State
        self.Filed_Week = Filed_Week
        self.Initial_Claims = Initial_Claims
        self.Reflecting_Week_End = Reflecting_Week_End
        self.Continued_Claims = Continued_Claims
        self.Covered_Employment = Covered_Employment
        self.Insured_Unemployment_Rate = Insured_Unemployment_Rate